Ripple/build
Ripple/Carthage/Build/*
!Ripple/Carthage/Build/iOS
Ripple/Carthage/Build/*/*
!Ripple/Carthage/Build/iOS/*.framework
Ripple/Carthage/Checkouts/*
ProtoBufferLib/ProtocolBuffers.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/xcschememanagement.plist
wandoujia_iOS.xcodeproj/project.xcworkspace/xcuserdata/volcno.xcuserdatad/UserInterfaceState.xcuserstate
wandoujia_iOS.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/wandoujia_iOS.xcscheme
wandoujia_iOS.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/xcschememanagement.plist
wandoujia_iOS.xcworkspace/xcuserdata/volcno.xcuserdatad/UserInterfaceState.xcuserstate
wandoujia_iOS.xcodeproj/project.xcworkspace/xcuserdata/volcno.xcuserdatad/WorkspaceSettings.xcsettings
wandoujia_iOS.xcodeproj/xcuserdata/volcno.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Photo/ProtoBufferLib/ProtocolBuffers.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/xcschememanagement.plist
Photo/wandoujia_iOS.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Photo/wandoujia_iOS.xcodeproj/project.xcworkspace/xcshareddata/wandoujia_iOS.xccheckout
Photo/wandoujia_iOS.xcodeproj/project.xcworkspace/xcuserdata/volcno.xcuserdatad/UserInterfaceState.xcuserstate
Photo/wandoujia_iOS.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/wandoujia_iOS.xcscheme
Photo/wandoujia_iOS.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/xcschememanagement.plist
Photo/wandoujia_iOS.xcworkspace/xcuserdata/volcno.xcuserdatad/UserInterfaceState.xcuserstate
Photo/Pods/Pods.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/Pods-CocoaLumberjack.xcscheme
Photo/Pods/Pods.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/Pods-iOSLib.xcscheme
Photo/Pods/Pods.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/Pods.xcscheme
Photo/Pods/Pods.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/xcschememanagement.plist
wandoujia_iOS.xcodeproj/project.xcworkspace/contents.xcworkspacedata
wandoujia_iOS.xcodeproj/project.xcworkspace/xcshareddata/wandoujia_iOS.xccheckout
Video/wandoujia-video.xcodeproj/project.xcworkspace/xcshareddata/wandoujia-video.xccheckout
Video/wandoujia-video.xcodeproj/project.xcworkspace/xcuserdata/volcno.xcuserdatad/UserInterfaceState.xcuserstate
Video/wandoujia-video.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/wandoujia-video.xcscheme
Video/wandoujia-video.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/xcschememanagement.plist
Video/wandoujia-video.xcworkspace/xcshareddata/wandoujia-video.xccheckout
Video/wandoujia-video.xcworkspace/xcuserdata/volcno.xcuserdatad/UserInterfaceState.xcuserstate
Video/Pods/Pods.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/Pods-CocoaLumberjack.xcscheme
Video/Pods/Pods.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/Pods-iOSLib.xcscheme
Video/Pods/Pods.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/Pods.xcscheme
Video/Pods/Pods.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/xcschememanagement.plist
Video/wandoujia_video.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/wandoujia_video.xcscheme
Video/wandoujia_video.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/xcschememanagement.plist
Video/wandoujia_video.xcworkspace/xcshareddata/wandoujia_video.xccheckout
Video/wandoujia_video.xcworkspace/xcuserdata/volcno.xcuserdatad/UserInterfaceState.xcuserstate
Photo/wandoujia_photo.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/xcschememanagement.plist
Wandoujia/wandoujia.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/xcschememanagement.plist
Wandoujia/wandoujia.xcworkspace/xcshareddata/wandoujia.xccheckout
Wandoujia/wandoujia.xcworkspace/xcuserdata/volcno.xcuserdatad/UserInterfaceState.xcuserstate
iOSLib/Pods/Pods.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/Pods-CocoaLumberjack.xcscheme
iOSLib/Pods/Pods.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/Pods.xcscheme
iOSLib/Pods/Pods.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/xcschememanagement.plist
iOSLib/iOSLib.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/iOSLib.xcscheme
iOSLib/iOSLib.xcodeproj/xcuserdata/volcno.xcuserdatad/xcschemes/xcschememanagement.plist
wandoujia_iOS.xcworkspace/xcshareddata/wandoujia_iOS.xccheckout
ios_cfg
# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout
*.xcscmblueprint
